body{
	background-color: black;
}
.jumbotron{
	display: flex;
	justify-content: center;
	background-image: url(cells.jpg);
	background-size: 100%;
	height: 125vh;
	align-items: center;
	margin-top: 80px;
	margin-right: 42px;
	position: relative;
}

.container{
	text-align: center;
	color:white;
	margin-left: 158px;
}
h1{
	font-size: 310%;
	font-family: 'Comfortaa', cursive;

}
h4{
	font-size: 140%;
	font-family: 'Chivo', sans-serif;
}

/*.container-fluid{
	display: flex;
	justify-content: center;
	height: 1020px;
	align-items: center;
}*/

