body{
	background-color: black;
}
.jumbotron{
	display: flex;
	justify-content: center;
	height: 125vh;
	align-items: center;
	margin-top: 80px;
	margin-right: 42px;
}
.background{
	background-image: url(cells.jpg);
	background-size: 100%;
	position: absolute;
}
.pasta{
	text-align: center;
	color:white;
	margin-bottom: 14px;
	margin-left: 59px;
	transform: scale(1.07, 1.07);
}
h1{
	font-size: 310%;
	font-family: 'Comfortaa', cursive;

}
h4{
	font-size: 140%;
	font-family: 'Chivo', sans-serif;
}
.validate{
	margin-top: 20px;
	margin-left: 71px;
}
@media only screen and (max-width: 500px) {
	.jumbotron{
		margin-right:20px;
	}
	.pasta{
		margin-bottom: 80px;
		margin-left: 18px;
	}

}

/*.container-fluid{
	display: flex;
	justify-content: center;
	height: 1020px;
	align-items: center;
}*/

